@use "element/index.scss";

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--el-text-color-primary);
  font-size: large;
  margin: 0 0 0 0;
}

.el-aside, .el-menu {
  height: 100vh
}

a {
  color: var(--el-color-primary);
}